*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    transition: .5s ease;
 

}

.form {
    background: #fff;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

    .tab-group li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgba(160, 179, 176, 0.25);
        color: #a0b3b0;
        font-size: 20px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        -webkit-transition: .5s ease;
        transition: .5s ease;
  

}

.tab-group .active a {
    background: #00aeef;
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}


h1 {
    text-align: center;
    color: #000;
    font-weight: 300;
    margin: 0 0 40px;
    line-height: 2em;
}


label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(#ffffff,.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;

}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
 

}

label.highlight {
    color: #ffffff;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #000;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
    

}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}


.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
  
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #00aeef;
    color: #ffffff;
    transition: all.5s ease;
    -webkit-appearance: none;
   

}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}


.form {
    min-height: 450px;
}

.share-exeperience {
    padding-top: 20px;
}

    .share-exeperience .form-group {
        position: relative;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }

        .share-exeperience .form-group textarea {
            position: relative;
            display: block;
            width: 100%;
            line-height: 22px;
            padding: 8px 15px;
            color: #222222;
            height: 200px;
            resize: none;
            transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
        }

    .share-exeperience button {
        position: relative;
        display: inline-block;
        background: #222a33;
        color: #ffffff;
        padding: 8px 30px;
        line-height: 24px;
        font-size: 14px;
        font-weight: 500;
    }



.in-progress {
    color: orange;
}

.success {
    color: green;
}


.gender-selection {
    margin-left: 100px;
    margin-top: 3px;
    display: inline-block;
    margin-bottom: 0;
}

    .gender-selection select {
        height: 30px;
    }

label.gender-label {
    left: 10px;
}